@using TracNghiemOnline.Models
@{ ViewBag.Title = "Danh sách đề ôn luyện ";
    Layout = "~/Views/Shared/_LayoutTestStudent.cshtml";
    var ListTest = Model as List<TestViewModel>;
    var ListSubject = ViewBag.ListSubject;
    var Scores = ViewBag.score as List<int>;
    var stt = 0;
}

<!DOCTYPE html>
<html>
<style>
    search-table {
        background-color: #fefcfc;
        margin: 10px 0;
    }

    .search-table td {
        padding: 0 20px;
        height: 80px;
        font-size: 18px;
    }

    #txtSearch {
        font-size: 18px;
        color: black;
    }

    ::placeholder {
        color: #191717;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 320px;
            background-color: white;
            color: red;
            border: 1px solid black;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0; /* Position the tooltip */
            position: absolute;
            z-index: 1;
            bottom: -40px;
            left: 10%;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
</style>
<body>

    <div class="title-content">
        <h4 style="margin: 0 20px; padding: 20px; font-family: monospace; color: #17a2b8 "> @ViewBag.Title </h4>
        @if (TempData["status_id"] != null && (bool)TempData["status_id"])
        {
            <span class="timer success">@TempData["status"]</span> }
        else
        {
            <span class="timer failed">@TempData["status"]</span>}
    </div>


    <div>
        @{using (Html.BeginForm("DeLT_Student", "Student", FormMethod.Post))
            {
<table class="search-table">
    <tr>
        <td width="200px" style="text-align:right"> <span> Tìm kiếm </span>  </td>
        <td width="300px">
            <div class="dropdown-list" style="width: 300px">
                <select name="id_subject" id="id_subject" style="display: block" required>
                    <option value="0" selected> Tất cả môn học </option>
                    @foreach (var item2 in ListSubject)
                    {
    <option value="@item2.id_subject"> @item2.subject_name </option>}
                </select>
            </div>
        </td>
        <td width="350px">
            <input type="text" class="form-control" name="txtSearch" id="txtSearch" placeholder="Nhập tên đề ôn luyện cần tìm">
        </td>
        <td>
            <input style="margin-left: 20px; font-size: 18px" type="submit" class="btn" value="Tìm kiếm ">
        </td>
    </tr>
</table> } }
    </div>



    <div class="content row col s12 reset-margin">
        @foreach (var item in ListTest)
        {
            stt = stt + 1;
            <div class="col s6 m4 l3">
                <div class="dashboard-inner-item" style="margin: 10px;padding: 20px;">
                    <span class="title">Môn: <b>@item.subject.subject_name</b></span><br />
                    <span class="title">Mã đề: <b>@item.test.test_code</b></span><br />
                    <span class="title">Kỳ thi: <b>@item.test.test_name</b></span><br />
                    <span class="title">Số câu hỏi: <b>@item.test.total_questions</b></span><br />
                    <span class="title">Thời gian: <b>@item.test.time_to_do (phút)</b></span><br />
                    <span class="title">Ghi chú: <b>@item.test.note</b></span><br />
                    <span class="title">Trạng thái: <b>@item.status.status_name</b></span><br />
                    @if (item.status.id_status == 1)
                    {
                        if (Scores.IndexOf(item.test.test_code) != -1)
                        {
                            <a class="btn full-width" href="@Url.Action("PreviewDeLT/" + @item.test.test_code)">Chi tiết bài làm</a> }
                        else
                        {
                            using (Html.BeginForm("CheckDeLT", "Student", FormMethod.Post))
                            {
                                <input type="text" name="test_code" value="@item.test.test_code" hidden>
                                <button type="submit" class="btn full-width modal-trigger"> Làm bài </button>
                            }


                            @*<a href="#enter-test-@item.test.test_code" class="btn full-width modal-trigger" data-code="@item.test.test_code" id="enter-ex" href="@Url.Action("DoingDeLT/" + @item.test.test_code) " >Làm bài</a> }*@

                        }
                    }
                    else if (item.status.id_status == 2)
                    { <div class="tooltip full-width">
                            <a class="btn full-width" style="cursor:help"> Đề Luyện Tập Đang Khoá </a>
                            <span class="tooltiptext"> Bạn chỉ có thể làm các bài luyện tập ở trạng thái: Open </span>
                        </div>

                    }
                </div>
            </div>
            <!-- Modal Structure --> 
            @*using (Html.BeginForm("CheckPasswordDeLT", "Student", FormMethod.Post))
            {
                <div id="enter-test-@item.test.test_code" class="modal">
                    <div class="modal-content">
                        <h4>Nhập Mật Khẩu Đề Thi @item.test.test_code</h4>
                        <input type="text" name="test_code" value="@item.test.test_code" hidden>
                        <div class="input-field">
                            <label for="email">Mật Khẩu<span class="failed">(*)</span></label>
                            <input type="password" name="password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="modal-close waves-effect waves-green btn-flat">Hủy</a>
                        <button type="submit" class="modal-close waves-effect waves-green btn-flat">Xác nhận</button>
                    </div>
                </div>
                
                }*@


        }
        @{ if (stt == 0)
                        {
                            <h5 style="text-align: center; margin-left: 20px">Không tìm thấy dữ liệu đề luyện tập nào. </h5>
                        } }

    </div>
    <script>
        $('.modal').modal();
    </script>

</body>
</html>