@using TracNghiemOnline.Models
@model LoginModel
@{ ViewBag.Title = "Đăng Nhập Hệ Thống Trắc Nghiệm Online"; }

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title
    </title>
    <link rel="stylesheet" href="~/Assets/css/style.min.css">
    <link rel="stylesheet" href="~/Assets/css/materialize.min.css">
    <!-- Favicon -->
    <link href="Assets/LandingPage/img/favicon.ico" rel="icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="Assets/LandingPage/lib/flaticon/font/flaticon.css" rel="stylesheet" />
    <link href="Assets/LandingPage/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="Assets/LandingPage/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
    <link href="Assets/LandingPage/css/style.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Assets/js/materialize.min.js"></script>
</head>

<body class="bg-login">
    <div id="status" class="status"></div>
    <div class="fade">
        <div class="login fadeInLogin">
            <h5 class="title-login">
                Đăng Nhập

            </h5>
            <div class="login-form">
                <div class="row" style="position: relative;">
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken() 
                        if (ViewBag.error != null)
                        {
                        <span class="title failed">@ViewBag.error</span> }
                        <div class="input-field">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @required = "required", @autofocus = "autofocus", @placeholder = "Tên đăng nhập" })
                                <label for="username">Tên đăng nhập </label>
                        </div>
                        <div class="input-field">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required = "required", @placeholder = "Mật khẩu" })

                            <label for="password">Mật Khẩu</label>
                        </div>
                    <div class="login-btn">
                        <button type="submit" class="btn waves-effect waves-light ">Đăng Nhập &#10159; </button>
                    </div>}
                </div>
            </div>
        </div>
    </div>
</body>

</html>


