
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutAdmin</title>
</head>
<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3"> CNTT5 </div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Nav Item - Admin Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span> Quản lý Admin </span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("AdminManager")"> Xem danh sách Admin </a>
                        <a class="collapse-item" href="cards.html"> Thêm mới Admin </a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Giảng Viên Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo1"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-user-circle"></i>
                    <span> Quản lý Giảng Viên </span>
                </a>
                <div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("TeacherManager")"> Xem danh sách Giảng Viên </a>
                        <a class="collapse-item" href="cards.html"> Thêm mới Giảng Viên </a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Sinh Viên Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo2"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-graduation-cap"></i>
                    <span> Quản lý Sinh Viên </span>
                </a>
                <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("StudentManager")"> Xem danh sách Sinh Viên </a>
                        <a class="collapse-item" href="cards.html"> Thêm mới Sinh Viên </a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Khoá - Lớp  Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo3"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-address-card"></i>
                    <span> Quản lý Lớp Học </span>
                </a>
                <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("ClassManager")"> Xem danh sách Lớp Học  </a>
                        <a class="collapse-item" href="cards.html"> Thêm mới Lớp học </a>
                        <a class="collapse-item" href="cards.html"> Thêm mới Khoá học </a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Ngành học  Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo4"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span> Quản lý Ngành học </span>
                </a>
                <div id="collapseTwo4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("SpecialityManager")"> Xem danh sách ngành  </a>
                        <a class="collapse-item" href="cards.html"> Thêm mới ngành </a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - môn học  Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo5"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-book"></i>
                    <span> Quản lý Môn học </span>
                </a>
                <div id="collapseTwo5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("SubjectManager")"> Xem danh sách Môn học </a>
                        <a class="collapse-item" href="cards.html"> Thêm mới Môn học </a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - câu hỏi  Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo6"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-tasks"></i>
                    <span> Quản lý Câu Hỏi </span>
                </a>
                <div id="collapseTwo6" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("QuestionManager")"> Kho câu hỏi </a>
                        <a class="collapse-item" href="cards.html"> Thêm mới Câu học </a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Bài thi Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo7"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-table"></i>
                    <span> Quản lý Đề thi </span>
                </a>
                <div id="collapseTwo7" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("TestManager")"> Danh sách các bài thi </a>
                        <a class="collapse-item" href="cards.html">Tạo đề thi </a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">


            <!-- Main Content -->
            <div id="content">

                @RenderBody()

                <footer>
                    <p class="m-1 text-center text-black-50">
                        &copy;
                        <a class="text-primary font-weight-bold" href="#"> Hệ Thống Thi Trực Tuyến </a>.  Using ASP.NET - SQL Server
                    </p>
                </footer>

            </div>

            <script src="~/Assets/AdminPage/vendor/jquery/jquery.min.js"></script>
            <script src="~/Assets/AdminPage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="~/Assets/AdminPage/vendor/jquery-easing/jquery.easing.min.js"></script>
            <script src="~/Assets/AdminPage/js/sb-admin-2.min.js"></script>
            <script src="~/Assets/AdminPage/vendor/chart.js/Chart.min.js"></script>
            <script src="~/Assets/AdminPage/js/demo/chart-area-demo.js"></script>
            <script src="~/Assets/AdminPage/js/demo/chart-pie-demo.js"></script>




</body>
</html>
